@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
}

@layer base {
  table {
    overflow: hidden;
    /* display: inline-block; */
  }

  td,
  th {
    position: relative;
    /* z-index: 0; */
  }

  td:hover::after {
    background-color: #202026;
    border-radius: 8px;
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
}

html,
body {
  background: #141416;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
